<div class="jumbotron">

    <center>
        <h1>Welcome to my Blog Shack!</h1>

        <!-- <img src="https://media.giphy.com/media/teevui0Yzrz2w/giphy.gif"> -->
        <br>

        <%= link_to "Check out our Blogs!", blog_posts_path, class: "btn btn-default" %>
    </center>
</div>